.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(59, 57, 57);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 25px;
  }

  .links a :hover{
    color: rgb(233, 115, 18);
    transition: .3s;
  }

  .links b :hover{
    color: rgb(233, 115, 18);
    transition: .3s;
  }